<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Minella's | Minella's Diner - Wayne, PA, 320 Lancaster Avenue | Best of the Main Line | Near Villanova, Radnor, Berwyn, Paoli, King of Prussia and more</title>
    <link rel="stylesheet" href="./about.css">
    <link rel="icon" href="../media/title image.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="home11">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../media/icon.png" class="icon" alt="icon" width="100" height="80">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Welcome to Minella's Diner …</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../components/menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <abbr title="burger-contest" style="text-decoration: none;"><a class="nav-link act" href="./about.html">About Minella's</a></abbr>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./jobs.html">Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <button class="buttonall" style="width:auto;"><a style="color: black;text-decoration:none;" href="https://www.orderorama.com/ordering/restaurant/menu?company_uid=79eb13d8-fe6c-4a9d-bf3c-bb018014084e&restaurant_uid=876e8ee1-c712-4602-b431-763dfc271dad&facebook=true">Order Online Now</a></button>
              </li>
              <li class="nav-item">
                <button class="iconbutton" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width:auto;"><ion-icon style="width: 25px; height:25px" name="person-outline"></ion-icon></button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="sub-div-popup">
                        <img src="../media/icon.png" class="popup-icon" alt="icon" width="100" height="80">
                      </div>
                      </div>
                      <div class="modal-body">
                        <div style="background-color: #F1F1F1 !important;padding: 10px;padding-left: 15px;width: 45px;border-radius: 11px;" align="left">
                          <ion-icon align="left" style="color: black;font-weight: 900;" name="person-outline"></ion-icon>
                        </div>
                        <br>
                        <p align="left" style="margin-top: -6px;font-weight: 900;font-size: 20px;"><b>Sign in or create an account with just your phone <br>number</b></p>
                        <br>
                        <p align="left" style="margin-top: -20px;"><ion-icon style="font-weight: 900;margin-bottom: -4px;" name="checkmark-circle-outline"></ion-icon> <abbr align="left" style="font-weight: 500;color:black;font-size: 14px; padding-left: 5px;">Get order status notifications</abbr></p>
                        <hr style="color:black;font-weight: 900;">
                        <p align="left"><ion-icon style="font-weight: 900;margin-bottom: -4px;" name="checkmark-circle-outline"></ion-icon> <abbr align="left" style="font-weight: 500;color:black;font-size: 14px; padding-left: 5px;">View your order history and quickly reorder</abbr></p>
                        <hr style="color:black;font-weight: 900;">
                        <p align="left"><ion-icon style="font-weight: 900;margin-bottom: -3px;" name="hardware-chip"></ion-icon> <abbr align="left" style="font-weight: 500;color:black;font-size: 14px; padding-left: 5px;">Manage your Square Pay payment details for faster checkout from any Square Online site</abbr></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light cancel-sign" data-bs-dismiss="modal"><ion-icon name="close" style="margin-bottom: -10px;font-size: 30px;color: black"></ion-icon></button>
                        <button type="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" class="btn btn-dark signin-signup">Sign In or Sign Up</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              
              <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="sub-div-popup">
                        <img src="../media/icon.png" class="popup-icon" alt="icon" width="100" height="80">
                      </div>
                    </div>
                    <div class="modal-body">
                      <br>
                      <br>
                      <br>
                      <br>
                      <input type="text" placeholder="Enter your Username: " class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                      <br>
                      <input type="email" placeholder="Enter your Email Address: " class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                      <br>
                      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Enter your Password: ">
                      <br>
                      <p align="right" style="padding: 5px;font-size: 13px;"><a href="#exampleModalToggle3" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" style="color: black;">Already have Registerd, Login Now</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light cancel-sign"  data-bs-target="#staticBackdrop" data-bs-toggle="modal"><ion-icon name="caret-back-circle" style="margin-bottom: -10px;font-size: 30px;color: black"></ion-icon></button>
                      <button type="button" class="btn btn-dark signin-signup">Sign Up</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="sub-div-popup">
                        <img src="../media/icon.png" class="popup-icon" alt="icon" width="100" height="80">
                      </div>
                    </div>
                    <div class="modal-body">
                      <br>
                      <br>
                      <br>
                      <br>
                      <input type="email" placeholder="Enter your Email Address: " class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                      <br>
                      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Enter your Password: ">
                      <br>
                      <p align="right" style="padding: 5px;font-size: 13px;"><a href="#exampleModalToggle2" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"  style="color: black;">Didn't have any Account, Registerd Now</a></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light cancel-sign" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"><ion-icon name="caret-back-circle" style="margin-bottom: -10px;font-size: 30px;color: black"></ion-icon></button>
                      <button type="button" class="btn btn-dark signin-signup">Sign In</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </ul>
          </div>
        </div>
      </nav>

<br>
<br>
<br>
<br>

<div class="aboutdiv1">
  <h1 style="font-weight: 900;">About Minella's Diner</h1>
  <br>
  <h4 style="font-weight: 900;">Clean, Safe, and Prepared to Serve You</h4>
  <p style="line-height: 25px;">The diner is open from 6 am to 10 pm --and free parking is available <br>behind our location at <a style="color:black;" href="./contact.html#mapid" target="_blank">320 Lancaster Ave, Wayne, Pennsylvania</a> (Route <br>30 between Villanova University and the Devon Horse Show).</p>
</div>

<br>

<section class="vh-100 new">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../media/superior.png"
          class="img-fluid" alt="Superior">
          <br>
          <br>

          <p align="center">Service with a smile. Expect it. We live it.</p>
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <br>
          <br>
          <br>
    
          <h1 style="font-weight: 900;font-size: 28px;margin-bottom: 20px;">Superior service, personalized attention</h1>
    
          <p>We're proud to offer the highest quality, freshest diner food on The Main Line. From our family to yours, we put lots of love and careful attention in each item. We hope you enjoy our work as much as we enjoy bringing it to you.</p>
          <p>A local favorite since 1971, Minella’s offers an extensive menu with everything imaginable at a diner, including salads, soups, soft drinks, desserts, breakfast foods, eggs, pancakes, waffles, hot and cold sandwiches, burgers, wraps, seafood, steak, plus Italian and Greek specialties.</p>
          <p>All baking is done on the premises, and credit cards are accepted. We also offer a full bar menu.</p>
          <p>It's our honor to serve you. Welcome and enjoy!</p>
          <p>-- Chris Dellaportas, Co-Owner</p>

<br>
        </div>
    </div>
  </div>
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="aboutdiv1">
  <h4 style="font-weight: bold;">The Best Diner on The Main Line</h4>
  <br>
  <h5 style="font-weight: 900;">Ammenities</h5>
  <ul style="margin-left: 20px;">
    <li><b>Hours: </b>INSIDE Daily, 6 am to 10 pm</li>
    <li><b>Handicap Accessible: </b>Yes</li>
    <li><b>Payments accepted: </b>American Express, Cash, Debit Card, Discover, MasterCard, <br>Visa</li>
    <li><b>Food & dining options: </b>Low calorie, Vegetarian, Bakery, Outdoor Patio</li>
    <li><b>Cuisine: </b>Diner foods, Americana, Greek, Italian, Sandwiches, Breakfast</li>
    <li><b>General services: </b>Eat-in, Phone orders, Prepared foods, Take-out, Curb-side <br>pick-up</li>
    <li><b><a style="color: #b91329" target="_blank" href="./menu.html">Menu/Order Online:</a></b></li>
    <li><b>ATM: </b>Yes</li>
    <li><b>Parking: </b>Free lot</li>
    <li><b>Private events: </b>Yes</li>
    <li><b>Price level: </b>$$</li>
    <li><b>Reservations: </b>None</li>
    <li><b>Number of tables: </b>65 (Spread out for PA and CDC health requirements)</li>
    <li><b>Features: </b>Breakfast, Brunch, Dinner, Group-friendly, Kids’ Menu, Lunch</li>
    <li><b>Atmosphere: </b>Family-friendly, Late-night, Casual</li>
    <li><b>Dress code: </b>Casual</li>
  </ul>
</div>
<br>
<br>
<br>
<br>

<div align="center" style="background-color: #ebedef;padding-top: 45px;padding-bottom: 35px;">
  <p class="pera-10" style="font-size: 22.9421px;font-weight: 900;"><b>"Even though I live on The Main Line, with so many <br>restaurants and food choices, I still want the best <br>diner near me."</b></p>
  <p style="margin-top: 20px;font-size: 14px;font-weight: 900;"><b>Drew D., Wayne, PA</b></p>
</div>

<br>
<br>

<div align="center">
  <img src="../media/Gallery Images/1.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/2.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/3.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/4.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/5.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/6.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/7.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/8.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/9.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/10.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/11.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/12.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/13.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/14.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
  <img src="../media/Gallery Images/15.png" height="338" class="gallery-image" style="opacity: 1;padding: 6px;padding-bottom: 10px;" width="339" alt="Gallery Image">
</div>

<br>
<br>
<br>
<br>


<section class="vh-100 new last-one" >
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="../media/Gallery Images/8.png"
          class="img-fluid" alt="Food">
<br>
<br>
<br>
<br>
        </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    
          <h1 style="font-weight: 900;font-size: 28px;margin-bottom: 20px;margin-top: -10px;"><b>A brief history</b></h1>
    
          <p>In 1998, proprietor Minella Zoto's son, Tom, sold the original diner to brothers, Nick and Dennis Dellaportas, who remodeled it making it 60 feet larger and doubled capacity. The two brothers and their families worked with the contractors who shipped the new restaurant in nine pieces to downtown Wayne, PA, from New Rochelle, New York.</p>
          <p>Today, you can expect an amazing bakery on premises, breakfast served all day, alcoholic beverages delivered to your table, family-sized portions of great food with fresh ingredients, and the type of friendly servers you would expect--having earned the distinction of Best of The Main Line. It's still a family affair, with the Dellaportas family as owner-operators.</p>
          <p>Here are some articles highlighting the Minella's Diner proud history.
          <ul style="margin-left: 20px;">
            <li><a href="https://www.mainlinemedianews.com/mainlinesuburbanlife/news/video-wayne-diner-celebrates-half-century-on-main-line/article_272ada9a-5bc9-5e87-8b9c-4d4a42d431f6.html" style="color: black;">Wayne diner celebrates half-century <br>on Main Line</a></li>
            <li><a href="https://theloquitur.com/welcomebackminellasdiner/" style="color: black;">Welcome back Minella’s Diner</a></li>
            <li><a href="https://radnorhistory.org/archive/photos/?p=7267" style="color: black;">Photo of the original Minella's Diner <br>(pre-expansion)</a></li>
          </ul>
          </p>
<br>
        </div>
    </div>
  </div>
</section>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div style="margin-left: 100px;">
  <a class="navbar-brand" href="#">
    <img src="../media/icon.png" class="icon" alt="icon" width="100" height="80">
  </a>
</div>

<br>
<br>

<div class="topnav">
  <div class="subsubnav">
  <a class="active" href="../index.html">Welcome to Minella's Diner ...</a>
  <a href="./menu.html">Menu</a>
  <a href="./about.html">About Minella's</a>
  <a href="./jobs.html">Jobs</a>
  <a href="./contact.html">Contact</a>
  </div>
  <div class="topnav-right">
    <a href="https://www.facebook.com/Minellas.Diner/"><ion-icon style="color: #3b5998;font-size: 22px;" name="logo-facebook"></ion-icon></a>
    <a href="https://www.instagram.com/minellasdiner"><ion-icon  style="color: #e95950;font-size: 19px;" name="logo-instagram"></ion-icon></a>
  </div>
</div>

<br>

<center><hr width="1015px"></center>

<br>


<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col">
    <div class="card-body">
    <h5 style="font-weight: 900;margin-bottom: 20px">Subscribe to News & Specials</h5>
      <div class="input-group mb-3">
        <input style="padding:13px;" type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-dark" type="button" id="button-addon2">Subscribe</button>
      </div>
      <p style="font-size: 13px;color: grey;">This form is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy" style="color: grey;">Privacy Policy</a> and <a href="https://policies.google.com/terms" style="color: grey;">Terms of Service</a> apply.</p>
        </div>
</div>
<div class="col last-text-detail" align="right">
    <div class="card-body">
      <p>Online ordering support: <br> <a href="mailto:minellas@gmail.com" style="color: black;">oramadigital61@gmail.com</a><br> <br> <a href="./terms.html" style="color: black;">Terms & Conditions</a> <br> Copyright &copy; 2023, Minella's Diner <br> All rights reserved.</p>
      </div>
</div>
</div> 

</body>
</html>
