@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Work+Sans:wght@500&display=swap');

html{
    overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
}

nav, .navbar, .navbar-expand-lg, .bg-body-tertiary{
    position: fixed;
}


#navbarNav{
    text-align: center;
    justify-content: right;
    
}

.navbar-nav{
    font-weight: bold;
    gap: 2.0rem;
    justify-content: center;
    align-items: center;
}

.home-section{
    margin: 8em 10px 10px 10px;    
}

.nav-link.act{
    color: black;
}

.home-section h1{
    font-weight: bold;
}

.home-section p{
    margin-top: 15px;
}

.rounded{
    margin-top: 30px;
    width: 357px;
    height: 210px;
    padding-left: 17px;
}

.about .heading{
    margin-top: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.skills .heading{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.qualification .heading{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.services .heading{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.contact .heading{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.portfolio .heading{
    margin-top: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px; 
}

.icon{
    border-radius: 100px;
    margin-left: 30px;
}

/* Set a style for all buttons */
.buttonall {
    color: black;
    padding: 5px 20px;
    margin: 8px 0;
    border: 2px solid black;
    cursor: pointer;
    width: 0%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  .iconbutton{
    color: black;
    background-color: rgba(248,249,250)!important;
    padding: 7px 25px 3px 0px;
    margin: 8px 0;
    border: none;
    
    cursor: pointer;
    width: 0%;
  }


  /* Bottom Navbar Links */

 .topnav {
  overflow: hidden;
  margin-top: -20px;
  background-color: white;
  padding-left: 110px;
  padding-right: 110px;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: right;
}


.row{
    padding-left: 132px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 132px;
    opacity: 1;
  }

@media only screen and (max-width: 600px) {
    
    .terms-all{
        margin-left: -340px;
    }

    .pera{
        width: 19.3rem !important;
    }

    .row{
        padding-left: 10px;
        padding-right: 10px;
    }

    .last-text-detail{
        text-align: left;
    }

    .vvvvv{
        padding-top: 25px;
        height: 900px;
        background-color: #f5efef;
    }

    .new-iframe{
        width: 390px;
    }


    .subsubnav{
        margin-left: -100px;
      }
  
      .cancel-sign{
        margin-top: 100px !important;
        width: 408px !important;
        border-radius: 0px !important;
        padding: 10px !important;
      }    
  
      .popup-icon{
        margin-left: -70px;
      }

}
.new-col{
    margin-bottom: 25px;
    opacity: 0.9;
    background-image: url(../media/backgroundtext.jpg);
}

.new-col1{
    margin-top: 30px;
    opacity: 0.9;
    background-color: #f5efef;
}

.orderbtn{
    background-color: black;
    color: white;
    padding: 12px 23px 12px 23px;
    border: none;
    width: auto;
    font-weight: bold;
}

.job-post{
    margin-left: 23em;
}


@media only screen and (max-width: 895px) {
    
    .job-post{
        margin-left: 10em;
    }

}

@media only screen and (max-width: 686px) {
    
    .job-post{
        margin-left: 1em;
    }

}

@media only screen and (max-width: 545px) {
    
    .job-post{
        margin-left: 10px;
    }

}

.cancel-sign{
    width: 50px;
    border-radius: 0px !important;
    padding: 10px !important;
  }    

  .signin-signup{
    width: 408px !important;
    padding: 10px !important;
    border-radius: 0px !important;
  }

  .form-control{
    font-size: 12px !important;
    font-weight: 500 !important;
    padding: 15px !important;
  }
  .sub-div-popup{
    margin-left: 180px;
  }